html{
	background-color: black;
}

body{
	color:lightgray;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	line-height: 1.5;
	font-size: 1.4em;
	text-align: center;
	margin: auto;
  width: 80%;
	max-width: 1200px;
	min-width: 400px;
}

.menu{
	font-weight: 200;
	font-size: 1.4em;
	padding: 0.4em;
	text-align: left;
}

.selected{
	border-bottom: 1px solid #ff774a;
}

.badges{
	margin: 1em;
}

.badge{
	max-width: 50px;
	max-height: 50px;
	width: 50px;
	height: 50px;
}

.tags{
	font-size: 1.4em;
}

.tagline{
	margin-top: 1em;
}

.content{
	margin-top:2em;
	text-align: left;
}

.content-header{
	color: #ff774a;
	text-align:center;
	font-size: 1.3em;
}

.shitface{
	margin-top: 1em;
	border-radius: 50%;
	max-width:150px;
}

.links{
	text-align: left;
}

.links a:link{
	text-decoration: underline;
}

.links h3{
	color: #ff774a;
}

a:link, a:visited, a:hover, a:active {
	color: #ff774a;
  text-decoration: none;
}

footer{
	margin-top:2em;
	border-top: 1px dashed white;
}

footer a:link {
	text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }

	.menu{
		text-align: right;
	}
}